.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.description{
    color: rgba(255, 255, 255, 0.694);
}

.bookmark{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.bookmark_head{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}

.loading_screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    color: white;
    font-weight: 900;
}
