:root {
    --card-bg-color: rgba(255, 255, 255, 0.3);
    --light-white: rgba(255, 255, 255, 0.8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --card-bg : rgba(255, 255, 255, 0.185);
        background-image: linear-gradient(to bottom right, #8BCBC8, #c5c7b0);

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}